.navbar {
  width: 100%;
  padding: 20px 6%;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  position: fixed;
}

.navbar-right {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding-top: 3px;
  align-items: center;

  cursor: pointer;
}

.bullets {
  list-style-type: none; /* Removes bullets */
  padding: 0; /* Removes default padding */
  margin: 0;
  display: flex;
  gap: 20px;
  cursor: pointer;
}

.navbar-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
}
